@import "../../styles/colors.scss";

.stack_div_all {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.stack_h1_mystack {
  color: $fc;
  margin: 10%;
}

@media only screen and (max-width: 600px) {
  .stack_div_all {
    grid-template-columns: repeat(1, 1fr);
  }
}
